  <mat-sidenav-container class="accounts-container mat-typography" autosize>
    <!---Begin Side Nav-->
   <mat-sidenav #sidenav
         [disableClose]="isScreenSmall ? 'false' : 'true'" 
         mat-elevation-z20 
         [mode]="isScreenSmall ? 'over' : 'side'" 
         [opened]="!isScreenSmall" 
         color="accent">
      <button mat-mini-fab aria-label="icon-button with menu icon" 
        *ngIf="!isScreenSmall"
        style="margin: 10px;"
        color="accent" 
        (click)="toggleSidebar()">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button><br>
       <mat-nav-list>
          <mat-list-item [routerLink]="['/accounts', 'dashboard']">
            <mat-icon mat-list-icon aria-label="dashboard" title="Dashboard">leaderboard</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Dashboard</h5>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounts', 'knowledgebase']">
            <mat-icon mat-list-icon aria-label="knowledgebase" title="Knowledge Base">article</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Knowledge Base</h5>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounts', 'settings']">
            <mat-icon mat-list-icon aria-label="enquirysettings" title="Enquiry Settings">build</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Settings</h5>
          </mat-list-item>          
          <mat-list-item [routerLink]="['/accounts', 'users']">
            <mat-icon mat-list-icon aria-label="users" title="Users">people</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Users</h5>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounts', 'integrations']">
            <mat-icon mat-list-icon aria-label="integrations" title="Integrations">sync_alt</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Integrations</h5>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounts', 'subscription']">
            <mat-icon mat-list-icon aria-label="subscription" title="Subscription">card_membership</mat-icon>
            <h5 mat-line *ngIf="toggleSidebar$ | async">Subscription</h5>
          </mat-list-item>     
        </mat-nav-list>          
    </mat-sidenav>  
    <!---End Side Nav-->
    <mat-sidenav-content>
          <!--Toolbar-->
          <mat-toolbar color="accent">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="sidenav.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              class="float-right">
              <mat-icon [routerLink]="['/']" aria-label="logout" title="Logout">logout</mat-icon>
            </button>
          </mat-toolbar><br>
          
          <!---Main Content--> 
          <div class="accounts-sidenav-content container">
            <router-outlet></router-outlet>     
          </div>
      </mat-sidenav-content>  
</mat-sidenav-container>
<app-footer></app-footer>

